@import "flex";


//colors
$degreePortrait:0;
$degreeLandscape:180;


$portrait-color: hsl($degreePortrait,80%,50%);
$landscape-color: hsl($degreeLandscape,80%,50%);

$smartphone-color: #ff0;





@mixin respond-to($media) {
  /* Smartphones (portrait and landscape) ----------- */
  @if $media == smartphone {
    @media only screen and (min-device-width : 320px) and (max-device-width : 630px) { @content; }
  }

 @if $media == smartphoneLandscape {
    @media only screen and (min-width : 321px) and (max-width: 690px) and (orientation:landscape) { @content;}
 }

  @if $media == smartphonePortrait {
    @media only screen and (max-width : 320px)  { @content;}
  }

  @if $media == portrait {
    @media only screen and (orientation:portrait) { @content; }
  }
  
  @else if $media == landscape {
    @media only screen and (orientation:landscape) { @content; }
  }
  
  @else if $media == square {
    @media only screen and (aspect-ratio: 1/1) { @content; }
  }
}

.tests{
  position: absolute;
  top:0; 
  left: 0;
  bottom: 0; 
  right: 0;
  padding: 0px; 
  @extend %flexbox;
  @include flex-direction(column)
}

.tests-label{
  display: block; 
  color: #444;
  background: rgba(255,255,255,0.8);
  padding: 0.5em 1em;
}

.portrait, 
.landscape,
.smartphone, 
.smartphoneLandscape, 
.smartphonePortrait{
 display: none;
 @include flex-grow(1);
 margin: 10px;
  text-align: center;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center)
}




.portrait{background-color:$portrait-color}
.landscape{background-color:$landscape-color;}
.smartphone{background-color: $smartphone-color}

.smartphoneLandscape{background-color: mix($smartphone-color,$landscape-color,50)}
.smartphonePortrait{background-color: mix($smartphone-color,$portrait-color,50)}

body{

  font-family: sans-serif;
  font-size: 16px; 
  color: #fff;
  background: #000;
  
  @include respond-to(smartphone){
    .smartphone {
    @include flexbox;
    }
  }
  
  @include respond-to(smartphoneLandscape){
    .smartphoneLandscape {
      @include flexbox;
    }
  }
  
  @include respond-to(smartphonePortrait){
    .smartphonePortrait {@include flexbox;}
  }
  @include respond-to(portrait){
 
    background-color: lighten($portrait-color,20);
       .portrait {@include flexbox;}
  }
  @include respond-to(landscape){
    background-color:lighten($landscape-color,20);
     .landscape {@include flexbox;}
  }
  
}
